<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic HTML Page</title>
</head>
<body style="margin: 0px; padding: 0px;">
<p style="background-color: #343434; color: white; text-align: center; margin: 0px; padding: 1rem; display: in-line; font-size: 2em; font-family: Arial, sans-serif; font-weight: bold;">Home Page Content</p>
<p style="background-color: #484444; margin: 0px; padding: 0.5rem; font-family: Arial, sans-serif;"> <a href="page1.html" style="color: white; text-decoration: none;">Page 1</a> <a href="page2.html" style="color: white; text-decoration: none; margin-left: 15px;">Page 2</a> </p>
    
<br><br>

<div style="text-align: center; font-family: Arial, sans-serif;" >
    <span>This is the main content of the page.</span><br>
    <span>
        <a href="page1.html" style="margin-right: 10px;">
            <button style="background-color: #087cfc; color: white; padding: 0.5rem 1rem; border: none;">Go to Page 1</button>
        </a>
        <a href="page2.html" style="margin-left: 10px;">
            <button style="background-color: #087cfc; color: white; padding: 0.5rem 1rem; border: none;">Go to Page 2</button>
        </a>
    </span>
</div>

  
</body>
</html>
