<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page 1</title>
</head>
<body style="margin: 0px; padding: 0px;">

<p style="background-color: #343434; color: white; text-align: center; margin: 0px; padding: 1rem; display: in-line; font-size: 2em; font-family: Arial, sans-serif; font-weight: bold;">Page 1 Content</p>
<p style="background-color: #484444; margin: 0px; padding: 0.5rem; font-family: Arial, sans-serif;"> <a href="index.html" style="color: white; text-decoration: none;">Home</a> <a href="page2.html" style="color: white; text-decoration: none; margin-left: 15px;">Page 2</a> </p>
<br><br>
<div style="margin-left: 31px; font-family: Arial, sans-serif;" >
    <span>This is the content of the page 1.</span>
</div>
 
</body>
</html>
